* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
header {
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}
.box1 {
    background-color: blue;
}

figure {
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

img {
    height: 100%;
}

/*
.nav {
    list-style: none;
    height: 10rem;
    padding-left: 60rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav li {
    font-size: 2rem;
    margin: 1rem 0;
    font-style: italic;
    font-size: 1.8rem;
    flex-grow: 1;
} */

main {
    height: 600px;
    display: flex;
}

.content {
    width: 80%;
    margin: 10px;
    font-size: 18px;
}

.sideBarLeft {
    width: 20%;
    background-color: darksalmon;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
}

.season {
    border-radius: 5%;
    width: 190px;
    height: 90px;
    margin: 30px;
    background-color: white;
}


footer {
    background-color: teal;
    height: 48.5px;
}

.copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 17px;
    padding-top: 14px;
}